{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
	
.grid-container {
  display: grid;
  gap: 50px 100px;
}

.item {
height: auto;
width: 350px;
border-radius: 10px;
margin: 10px;
font-weight: bold;
align-self: center;
padding: 10px;
align-items: center;
justify-content: center;
font-size: 15px;
display: flex;
flex-direction: column;
background-color: white;
transition: 0.4s;
}
.item:hover{
  background-color: rgba(0, 0, 255, 0.26);
  cursor: pointer;
}

.item_img {
align-self: center;
align-items: center;
justify-content: center;
}
.item_txt {
align-self: center;
align-items: center;
justify-content: center;
}

.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
align-items: center;
justify-content: center;
}
.page_body{
  height: auto;
  display: flex;
  flex-direction: column;
}
.page_body_top{
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page_body_down{
  flex-grow: 1;
  /* background-color: rgb(229, 255, 0); */
}
.Input {
  position: relative;
}

.Input-text {
  display: block;
  border-radius: 0.4rem;
  height: 40px;
  width: 400px;
  align-self: center;
  margin-bottom: 10px;
  border-color: rgb(202, 202, 202);
  border-style: groove;
}
.btn{
  width: 400px;
  border: none;
  background-color: rgb(230, 230, 230);
  align-self: center;
  font-weight: bold;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.divider {
  position: relative;
  height: 0.5px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}
</style>
<div class="page_body">
  <div class="page_body_top">
    <form action="{% url 'booksTest' %}" method="GET" class="form">
      <input type="text" name="q" placeholder="جستجو بارکد" class="Input-text">
      <button type="submit" class="btn">جستجو</button>
    </form>
  </div>
  <div class="divider div-transparent"></div>
  <div class="page_body_down">
    <div class="parent">
      {% for book in book_list %}
      <div class="item">
        <img src="{{book.barcode.url}}" height="120" width="250"
          class="item_img">
        <p class="item_txt">{{book.title}}</p>
        <!-- <p>{{book.isbn}}</p> -->
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}